.option-label {
    z-index: 1;
    display:flex;
    align-items: center;
    background-color: var(--bg-color-secondary);
}

.option-label pre{
    margin: 0.5rem !important;
    background-color: transparent !important;
}

.option-label pre code {
    background: transparent;
}

html[data-theme=dark] {
    .shiki,
    .shiki span {
      color: var(--shiki-dark) !important;
    }
}